
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    p {
        font-size: 16px;
        line-height: 1.2;
    }
    .carousel { 
        margin-top: 100px;
    }
    .carousel-item h5 {
        font-size: 25px;
    }
    .carousel-caption {
        bottom: 30px;
    }
    .btn-font {
        font-size: 14px;
        padding: 10px !important;
    }

    .title {
        width: 90%;
        margin-top: 30px;
    }
    .title h2 {
        font-size: 27px;
    }
    .see-all{
        width: 35%;
    }

    .review-controler .carousel-control-prev {
        display:none;
    }
    .review-controler .carousel-control-next {
        display:none;
    }


    .faq{
        width: 100%;
    }
    footer p {
        line-height: 1.5em;
    }
}

@media (min-width: 768px){
    .carousel-item h5 {
        font-size: 50px;
    }
    .courses-recod h3{
        font-size: 18px;
    }
    .courses-recod p{
        font-size: 15px;
    }
}