
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    .course-img{
        width: 100%;
    }
    p {
        font-size: 16px;
        line-height: 1.2;
    }
    .carousel { 
        margin-top: 100px;
    }
    .carousel-item h5 {
        font-size: 25px;
    }
    .carousel-caption {
        bottom: 30px;
    }
    .btn-font {
        font-size: 14px;
        padding: 10px;
    }

    .title {
        width: 90%;
        margin-top: 30px;
    }
    .title h2 {
        font-size: 27px;
    }
    .see-all{
        width: 35%;
    }
    .faq{
        width: 100%;
    }
    footer p {
        line-height: 1.5em;
    }
}

@media (min-width: 768px){
    .title {
        width: 70%;
    }
    .title h2 {
        font-size: 35px;
    }
    .explore-title{
        width: 90%;
    }
    .explore-title h2{
        font-size: 27px
    }
    .course-img {
        width: 60%;
    }
    .carousel-item h5 {
        font-size: 50px;
        line-height: 1em;
    }
    .carousel-item h5 {
        font-size: 50px;
    }
    .courses-recod h3{
        font-size: 18px;
    }
    .courses-recod p{
        font-size: 15px;
    }
    .ready-to-join {
        font-size: 45px;
    }
    .faq {
        width: 90%;
    }
}



@media (min-width: 992px){
    .course-img {
        width: 100%;
    }
    .carousel-item h5 {
        font-size: 60px;
        line-height: 1em;
    }
    .carousel {
        margin-top: 125px;
    }
    .title {
        width: 70%;
    }
    .title h2 {
        font-size: 50px;
    }
    .see-all {
        width: 23%;
    }

    .title h2 {
        font-size: 45px;
    }

    .explore-title h2 {
        font-size: 29px;
    }
    .courses-recod h3 {
        font-size: 25px;
    }
    .ready-to-join {
        font-size: 55px;
        font-weight: bold;
    }
    .faq {
        width: 80%;
    }

}

@media (min-width: 1200px){
    .course-img{
        width: 70%;
    }
    .carousel-caption {
        bottom: 100px;
    }
    .title {
        width: 60%;
    }
    .explore-title {
        width: 95%;
    }
    .explore-title h2 {
        font-size: 45px;
    }
    .faq {
        width: 80%;
    }
}


@media (min-width: 1400px){
    p {
        font-size: 18px;
        line-height: 1.2;
    }
    .carousel-item h5 {
        font-size: 60px;
        line-height: 1em;
        margin-bottom: 20px;
    }
    .title {
        width: 55%;
    }
    .explore-title {
        width: 85%;
    }
    .courses-recod h3 {
        font-size: 35px;
    }
}