
/* GOOGLE FONT ADDED  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.btn-font {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}
/* SECTION TITLE STYLE  */
.title-text{
    margin-bottom: 50px;
    line-height: 1.5em;
}


/* HERO SECTION   */
.carousel-caption {
    bottom: 5.25rem;
}
.carousel-item h5{
    font-size: 75px;
}